.language {
    margin-right: .5em;
    margin-top: .5em;
    position: absolute;
    top: 0px;
    right: 0px;
}

.card-title {
	margin-top: 1.25em;
}

.forks-count {
    margin-right: .5em;
    margin-top: .5em;
    position: absolute;
    bottom: 0px;
    right: 0px;
}